{{layout "layout"}}
<h1>Slides</h1>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <td>no</td>
            <td>Title</td>
            <td>Create</td>
            <td>Modified</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
    {{each(i, slideshow) slideshows}}
        <tr>
            <td>${i+1}</td>
            <td>${title}</td>
            <td>${createdDate}</td>
            <td>${modifiedDate}</td>
            <td>
                <button class="edit btn btn-warning" data-id="${_id}">Edit</button>
                <button class="del btn btn-inverse" data-id="${_id}">Delete</button>
            </td>
            <td>
                <button class="btn btn-primary" data-id="${_id}">Show</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<script type="text/javascript">
function remove(){
    console.log(this);
}

</script>