{{layout "layout"}}
<h1>Slides</h1>

<table class="table table-striped ">
    <thead>
        <tr>
            <th class="span1">no</th>
            <th class="span5">Title</th>
            <th class="span2">Create</th>
            <th class="span2">Modified</th>
            <th class="span2"></th>
        </tr>
    </thead>
    <tbody>
    {{each(i, slideshow) slideshows}}
        <tr>
            <td>${i+1}</td>
            <td>${title}</td>
            <td>${createdDate}</td>
            <td>${modifiedDate}</td>
            <td>
                <div class="btn-group">
                  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-list-alt icon-white"></i> Manager <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#" class="edit"data-id="${_id}"><i class="icon-pencil"></i> Edit</a></li>
                    <li><a href="#" class="del"data-id="${_id}"><i class="icon-trash"></i> Delete</a></li>
                    <li class="divider"></li>
                    <li><a href="/slide/${_id}" target="_blank"><i class="icon-film i"></i> Show</a></li>
                  </ul>
                </div>

            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<script type="text/javascript">
function remove(){
    console.log(this);
}

</script>